/*
*@expression:css of page4;
*@author:delaincheng;
*/

/* set page4 */
#page4{
	height: 100%;
}

#page4 img{
	position: relative;
	top: 0;
	bottom: 0;
	left:50%;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 20px #AAA;
}

#page4_content{
	position: absolute;
	left:200px;
	top: 30%;
}