/*
*@expression:css of first/last page;
*@author:Jellyfish;
*/

#all h1{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    margin-right: -50%;
    line-height: 1.5em;
}

/*
*@expression:css of Jellyfish;
*@author:Jellyfish;
*/

#jellyfish h1{
    margin: 1em auto;
    text-align: center;
}
#jellyfish p{
    margin-bottom: 1em;
    line-height: 1.5em;
    padding: 5px;
}

/*
*@expression:css of Delain;
*@author:delaincheng;
*/

#delain img{
	position: relative;
	top: 0;
	bottom: 0;
	left:50%;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 20px #AAA;
}

#delain div{
	position: absolute;
	left:10px;
    width: 50%;
	top: 30%;
}

/*
*@expression:css of 陈旭标;
*@author:pao;
*/

.profile{
	margin: 50px auto;
	width: 900px;
	position: relative;
}
.profile li{
	list-style:none;
}
.profile p{
	font-size:30px;
	font-family: '微软雅黑';
}
.profile li ul{
	margin:9px 45px;
	padding: 0;
	font-size: 18px;
	font-family: '微软雅黑';
}
.profile li li{
	list-style:circle;
	line-height: 27px;
}
.profile span{
	display:inline-block;
	margin:9px 27px;
	font-size: 18px;
	font-family: '微软雅黑';
}
.picA{
	float:right;
	margin-top: 10px;
}
.allImfor{
	float: left;
	width: 500px;
}