div, p {
    padding: 0;
    margin: 0;
}

.robotView {
    position: absolute;
    border-radius: 50%;
}

.logger {
    overflow: auto;
    background: black;
    color: white;
}
.logTime {
    font-size: 0.8em;
    color: green;
}

.cmdarea {
    overflow: auto;
}

.btn {
    width: 80px;
    height: 25px;
}
